* {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 2.5vw; }

body {
  font-family: 'Rubik', sans-serif;
  box-sizing: border-box;
  background-color: #fff;
  width: 100vw;
  overflow-x: hidden; }
  body a {
    text-decoration: none; }
  body svg {
    display: block; }

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  padding: .5rem 1rem;
  z-index: 1500000;
  -webkit-transition: all .2s ease-out; }
  header.scroll, header.tech {
    background-color: #050e29;
    box-shadow: 0rem 0rem 1vh rgba(0, 0, 0, 0.2);
    border-bottom: 0.5px solid rgba(117, 117, 117, 0.2); }
  header nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; }
    header nav h1 {
      position: absolute;
      opacity: 0;
      z-index: -1500000;
      top: 0;
      left: 0; }
    header nav #logo svg {
      width: 2.5rem; }
    header nav #nav-toggle {
      display: none; }
      header nav #nav-toggle span {
        display: block;
        height: 0.8vw;
        width: 8vw;
        background-color: #fff;
        margin-bottom: 1.2vw;
        transform-origin: top right;
        -webkit-transition: transform 0.3s cubic-bezier(0.18, 0.57, 0.5, 1.03); }
        header nav #nav-toggle span:nth-of-type(2) {
          width: 6vw; }
        header nav #nav-toggle span:last-of-type {
          width: 4vw;
          margin-bottom: 0;
          -webkit-transform-origin: bottom right; }
    header nav ul {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-end; }
      header nav ul li {
        display: inline-block;
        list-style: none;
        margin-right: .9rem;
        position: relative;
        cursor: pointer; }
        header nav ul li:last-of-type {
          margin-right: 0; }
          header nav ul li:last-of-type a {
            color: #78CC18;
            padding: .2rem;
            border: 0.05rem solid #78CC18; }
            header nav ul li:last-of-type a:hover {
              background-color: #78CC18;
              color: #fff; }
        header nav ul li:hover a {
          color: #78CC18;
          transform: scale(1.05); }
        header nav ul li a {
          font-size: 0.4rem;
          font-weight: 400;
          line-height: 1;
          letter-spacing: 0.05rem;
          color: #fff;
          display: block;
          z-index: 2;
          text-transform: uppercase;
          -webkit-transition: all 0.2s cubic-bezier(0.18, 0.57, 0.5, 1.03); }
  header #technology-nav {
    display: none;
    opacity: 0;
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    background-color: #fff;
    box-shadow: 0rem 0rem 1vh rgba(0, 0, 0, 0.2);
    padding: 1.5rem 5rem;
    -webkit-transition: all 0.2s cubic-bezier(0.18, 0.57, 0.5, 1.03); }
    header #technology-nav .intro {
      font-size: 0.5rem;
      font-weight: 500;
      line-height: 1.3;
      letter-spacing: 0.05rem;
      color: #1d1d1d;
      margin-bottom: 1rem; }
    header #technology-nav #tech-grid {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      row-gap: 1rem;
      column-gap: 1rem; }
      header #technology-nav #tech-grid .tech-item {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start; }
        header #technology-nav #tech-grid .tech-item:hover .info .title {
          color: #78CC18; }
        header #technology-nav #tech-grid .tech-item .icon {
          margin-right: .4rem; }
          header #technology-nav #tech-grid .tech-item .icon svg {
            width: .8rem; }
        header #technology-nav #tech-grid .tech-item .info .title {
          font-size: 0.4rem;
          font-weight: 500;
          line-height: 1.3;
          letter-spacing: 0.05rem;
          color: #2C6AFA;
          margin-bottom: .15rem;
          -webkit-transition: all 0.2s cubic-bezier(0.18, 0.57, 0.5, 1.03); }
        header #technology-nav #tech-grid .tech-item .info .text {
          font-size: 0.35rem;
          font-weight: 300;
          line-height: 1.3;
          letter-spacing: 0.05rem;
          color: #1d1d1d; }

#banner {
  background: rgba(5, 14, 41, 0.95);
  width: 100%;
  height: 100vh;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden; }
  #banner video {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    object-fit: cover;
    z-index: -5;
    overflow: hidden; }
  #banner h2 {
    color: #fff;
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 1;
    letter-spacing: 0.05rem;
    text-align: center;
    margin-top: 1.5rem; }
  #banner #icons {
    width: 70%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 1rem;
    margin: 2.2rem 0; }
    #banner #icons .icon {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      #banner #icons .icon svg {
        height: 2.6rem;
        margin-bottom: .8rem; }
        #banner #icons .icon svg .cls-1 {
          opacity: .7; }
      #banner #icons .icon p {
        font-size: 0.5rem;
        font-weight: 500;
        line-height: 1;
        letter-spacing: 0.05rem;
        color: #fff;
        -webkit-transition: all 0.2s cubic-bezier(0.18, 0.57, 0.5, 1.03); }
      #banner #icons .icon:hover p {
        color: #78CC18; }
      #banner #icons .icon:hover svg {
        animation: moveupdown .3s ease-in-out; }
  #banner #consultation-btn {
    display: block;
    font-size: 0.4rem;
    font-weight: 400;
    line-height: 1.3;
    letter-spacing: 0.05rem;
    color: #fff;
    background-color: #2C6AFA;
    padding: .4rem .6rem;
    text-transform: uppercase;
    border-radius: .15rem;
    -webkit-transition: all 0.3s cubic-bezier(0.18, 0.57, 0.5, 1.03); }
    #banner #consultation-btn:hover {
      background-color: #78CC18; }

@keyframes moveupdown {
  0% {
    transform: translateY(0); }
  50% {
    transform: translateY(-1rem); }
  100% {
    transform: translateY(0); } }

.article {
  padding: 3.5rem 6rem;
  border-bottom: 0.05rem solid #f0f0f0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  overflow-x: hidden; }
  .article .icon {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .article .icon svg {
      height: 4rem;
      opacity: .9; }
    .article .icon .title-wrp {
      position: relative; }
      .article .icon .title-wrp h3 {
        font-size: 0.65rem;
        font-weight: 500;
        line-height: 1;
        letter-spacing: 0.05rem;
        color: #2C6AFA;
        margin-top: .8rem; }
      .article .icon .title-wrp span {
        position: absolute;
        width: 50%;
        bottom: -.6rem;
        display: block;
        height: .1rem;
        background-color: #78CC18;
        left: 50%;
        transform: translateX(-50%); }
  .article .text {
    width: 50%; }
    .article .text p {
      font-size: 0.5rem;
      font-weight: 300;
      line-height: 1.3;
      letter-spacing: 0.05rem;
      color: #1d1d1d; }
      .article .text p:first-of-type {
        font-size: 0.6rem;
        font-weight: 500;
        line-height: 1.3;
        letter-spacing: 0.05rem;
        margin-bottom: .8rem; }

#nosotros {
  padding: 4rem 6rem;
  background: rgba(5, 14, 41, 0.7);
  position: relative;
  overflow: hidden; }
  #nosotros video {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -5;
    overflow: hidden; }
  #nosotros h3 {
    font-size: 0.8rem;
    font-weight: 500;
    line-height: 1.3;
    letter-spacing: 0.05rem;
    color: #fff;
    margin-bottom: 1rem;
    text-align: center;
    width: 100%; }
  #nosotros p {
    font-size: 0.6rem;
    font-weight: 400;
    line-height: 1.3;
    letter-spacing: 0.05rem;
    color: #fff;
    text-align: center;
    width: 100%; }

#technologies {
  padding: 3rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  overflow: hidden; }
  #technologies .title-wrp {
    position: relative; }
    #technologies .title-wrp h3 {
      font-size: 0.8rem;
      font-weight: 500;
      line-height: 1;
      letter-spacing: 0.05rem;
      color: #2C6AFA;
      text-align: center; }
    #technologies .title-wrp span {
      position: absolute;
      width: 50%;
      bottom: -.6rem;
      display: block;
      height: .1rem;
      background-color: #78CC18;
      left: 50%;
      transform: translateX(-50%); }
  #technologies .lenguajes {
    margin-top: 3rem;
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 3rem; }
    #technologies .lenguajes .card {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      #technologies .lenguajes .card svg {
        height: 1.8rem;
        -webkit-transition: transform 0.2s cubic-bezier(0.18, 0.57, 0.5, 1.03); }

#offices {
  height: 85vh;
  width: 100vw;
  background-color: #050e29;
  display: flex;
  padding: 0 4rem 0 1rem;
  overflow: hidden; }
  #offices #img-wrp {
    width: 70%; }
    #offices #img-wrp svg {
      height: 100%;
      transition: transform 0.3s cubic-bezier(0.18, 0.57, 0.5, 1.03); }
      #offices #img-wrp svg .current {
        -webkit-animation: titilar .7s infinite; }

@keyframes titilar {
  0% {
    fill: #2C6AFA; }
  50% {
    fill: #2c6afa7c; }
  100% {
    fill: #2C6AFA; } }
      #offices #img-wrp svg:hover {
        transform: scale(1.05); }
  #offices #adresses {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end; }
    #offices #adresses h3 {
      font-size: 0.9rem;
      font-weight: 500;
      line-height: 1;
      letter-spacing: 0.05rem;
      color: #fff;
      margin-bottom: 1.5rem;
      position: relative;
      right: -1rem;
      text-align: right; }
    #offices #adresses .adress-wrp {
      position: relative; }
      #offices #adresses .adress-wrp #line {
        position: absolute;
        top: 0;
        right: -1rem;
        height: 100%;
        width: .06rem;
        background: rgba(255, 255, 255, 0.3); }
      #offices #adresses .adress-wrp #overline {
        transition: all 0.3s cubic-bezier(0.18, 0.57, 0.5, 1.03);
        position: absolute;
        top: 0;
        right: -1.05rem;
        height: 3.7rem;
        width: .15rem;
        background: #2C6AFA; }
    #offices #adresses .adress {
      margin-bottom: .8rem; }
      #offices #adresses .adress:last-of-type {
        margin-bottom: 0; }
      #offices #adresses .adress .adress-title {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        margin-bottom: .6rem;
        cursor: pointer; }
        #offices #adresses .adress .adress-title svg {
          width: .6rem;
          margin-left: .3rem; }
        #offices #adresses .adress .adress-title p {
          font-size: 0.48rem;
          font-weight: 500;
          line-height: 1;
          letter-spacing: 0.05rem;
          color: #fff; }
      #offices #adresses .adress .adress-hide {
        display: none;
        transition: all 0.3s cubic-bezier(0.18, 0.57, 0.5, 1.03);
        position: relative;
        bottom: -.5rem;
        opacity: 0; }
        #offices #adresses .adress .adress-hide.show {
          display: block; }
        #offices #adresses .adress .adress-hide.initial {
          bottom: 0;
          opacity: 1; }
        #offices #adresses .adress .adress-hide p {
          font-size: 0.45rem;
          font-weight: 300;
          line-height: 1;
          letter-spacing: 0.05rem;
          color: #fff;
          margin-bottom: .6rem;
          text-align: right; }
        #offices #adresses .adress .adress-hide a {
          font-size: 0.45rem;
          font-weight: 400;
          line-height: 1;
          letter-spacing: 0.05rem;
          color: #2C6AFA;
          text-align: right;
          display: block;
          width: 100%; }

#clients {
  padding: 3rem 5rem 3.5rem 5rem;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  overflow: hidden; }
  #clients .glide {
    position: relative;
    margin-top: 2.5rem; }
  #clients .glide__slide {
    height: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  #clients img {
    width: 90%; }
  #clients .title-wrp {
    position: relative; }
    #clients .title-wrp h3 {
      font-size: 0.8rem;
      font-weight: 500;
      line-height: 1;
      letter-spacing: 0.05rem;
      color: #2C6AFA;
      text-align: center; }
    #clients .title-wrp span {
      position: absolute;
      width: 50%;
      bottom: -.6rem;
      display: block;
      height: .1rem;
      background-color: #78CC18;
      left: 50%;
      transform: translateX(-50%); }
  #clients .glide__arrows button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer; }
    #clients .glide__arrows button#back {
      position: absolute;
      top: 50%;
      left: -2rem;
      transform: translateY(-50%); }
      #clients .glide__arrows button#back svg {
        transform: rotate(180deg); }
    #clients .glide__arrows button#next {
      position: absolute;
      top: 50%;
      right: -2rem;
      transform: translateY(-50%); }
  #clients .glide__arrows svg {
    height: 1rem; }
    #clients .glide__arrows svg path {
      fill: none;
      stroke: #2C6AFA;
      stroke-linecap: round;
      stroke-linejoin: round;
      stroke-width: 10px;
      -webkit-transition: all 0.2s cubic-bezier(0.18, 0.57, 0.5, 1.03); }
    #clients .glide__arrows svg:hover path {
      stroke: #2C6AFA; }
  #clients.grey {
    background-color: #ebebeb;
    padding: 2rem 5rem; }
    #clients.grey .title-wrp h3 {
      font-size: 0.8rem;
      font-weight: 400;
      line-height: 1;
      letter-spacing: 0.05rem;
      color: #2C6AFA;
      text-align: center; }
    #clients.grey .title-wrp span {
      display: none; }

#contact {
  background: rgba(5, 14, 41, 0.85);
  width: 100vw;
  overflow: hidden;
  padding: 3rem 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden; }
  #contact video {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -5;
    overflow: hidden; }
  #contact #contact-pre {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    #contact #contact-pre h3 {
      font-size: 1rem;
      font-weight: 500;
      line-height: 1.3;
      letter-spacing: 0.05rem;
      color: #2C6AFA;
      margin-bottom: .8rem;
      text-align: center;
      width: 100%; }
    #contact #contact-pre p {
      font-size: 0.5rem;
      font-weight: 400;
      line-height: 1.3;
      letter-spacing: 0.05rem;
      color: #fff;
      text-align: center;
      width: 70%; }
  #contact #contact-form {
    width: 100%;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    #contact #contact-form .grid {
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 1.5rem;
      row-gap: 1.2rem; }
      #contact #contact-form .grid .form {
        position: relative;
        width: 100%;
        border-bottom: 0.04rem solid #2C6AFA; }
        #contact #contact-form .grid .form.form-text {
          border-bottom: none; }
        #contact #contact-form .grid .form input {
          font-size: 0.5rem;
          font-weight: 400;
          line-height: 1.4;
          letter-spacing: 0.05rem;
          outline: none;
          border-radius: 0;
          width: 100%;
          background-color: transparent;
          padding: .2rem .3rem;
          appearance: none;
          -webkit-appearance: none;
          border: none;
          color: #fff; }
        #contact #contact-form .grid .form label {
          font-size: 0.5rem;
          font-weight: 300;
          line-height: 1.4;
          letter-spacing: 0.05rem;
          position: absolute;
          bottom: .2rem;
          left: .3rem;
          opacity: 0.7;
          pointer-events: none;
          display: block;
          -webkit-transition: transform 0.3s cubic-bezier(0.18, 0.57, 0.5, 1.03);
          color: #fff; }
          #contact #contact-form .grid .form label.filled {
            -webkit-transform: translatey(-1rem);
            font-size: .4rem;
            font-weight: 400;
            color: #2C6AFA;
            opacity: 1;
            left: 0; }
        #contact #contact-form .grid .form input:focus ~ label {
          -webkit-transform: translatey(-1rem);
          font-size: .4rem;
          color: #2C6AFA;
          font-weight: 400;
          opacity: 1;
          left: 0; }
        #contact #contact-form .grid .form.bt {
          margin-bottom: .5rem; }
      #contact #contact-form .grid .form-text textarea {
        width: 100%;
        height: 19.5vw;
        font-size: 0.5rem;
        font-weight: 400;
        line-height: 1.3;
        letter-spacing: 0.05rem;
        outline: none;
        border: none;
        padding: .4rem;
        resize: none;
        font-family: 'Rubik', sans-serif;
        color: #1d1d1d;
        background-color: #fff; }
      #contact #contact-form .grid .form-text label {
        font-size: 0.5rem;
        font-weight: 400;
        line-height: 1.4;
        letter-spacing: 0.05rem;
        position: absolute;
        top: .4rem;
        bottom: none;
        left: .4rem;
        opacity: 0.7;
        pointer-events: none;
        display: block;
        -webkit-transition: transform 0.3s cubic-bezier(0.18, 0.57, 0.5, 1.03);
        color: #424242; }
        #contact #contact-form .grid .form-text label.filled {
          -webkit-transform: translatey(-1.2rem);
          font-size: .4rem;
          color: #2C6AFA;
          opacity: 1;
          left: 0; }
      #contact #contact-form .grid .form-text textarea:focus ~ label {
        -webkit-transform: translatey(-1.2rem);
        font-size: .4rem;
        color: #2C6AFA;
        opacity: 1;
        left: 0; }
      #contact #contact-form .grid .options-wrp p {
        font-size: 0.5rem;
        font-weight: 500;
        line-height: 1.4;
        letter-spacing: 0.05rem;
        color: #2C6AFA;
        margin-bottom: .4rem; }
      #contact #contact-form .grid .options-wrp .options {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
        margin-bottom: .8rem; }
        #contact #contact-form .grid .options-wrp .options .option {
          display: flex;
          flex-direction: row;
          align-items: flex-start;
          justify-content: center;
          margin-right: .5rem; }
          #contact #contact-form .grid .options-wrp .options .option:last-of-type {
            margin-right: 0; }
        #contact #contact-form .grid .options-wrp .options label {
          margin-left: .2rem;
          font-size: 0.4rem;
          font-weight: 400;
          line-height: 1.4;
          letter-spacing: 0.05rem;
          color: #fff;
          cursor: pointer; }
        #contact #contact-form .grid .options-wrp .options input {
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
          display: inline-block;
          width: .5rem;
          height: .5rem;
          padding: .05rem;
          background-clip: content-box;
          border: 0.6px solid #fff;
          border-radius: 50%;
          outline: none;
          cursor: pointer; }
        #contact #contact-form .grid .options-wrp .options input:checked {
          background-color: #78CC18; }
      #contact #contact-form .grid .options-wrp select {
        font-size: 0.5rem;
        font-weight: 400;
        line-height: 1.4;
        letter-spacing: 0.05rem;
        color: #1d1d1d;
        width: 100%;
        outline: none;
        border: none;
        padding: .1rem;
        background-color: #fff;
        border-radius: none; }
    #contact #contact-form #submit {
      text-align: center;
      appearance: none;
      -webkit-appearance: none;
      padding: .3rem;
      background-color: #2C6AFA;
      color: #fff;
      font-size: 0.4rem;
      font-weight: 400;
      line-height: 1.4;
      letter-spacing: 0.05rem;
      outline: none;
      border-radius: .1rem;
      width: 28%;
      margin-top: 1.2rem;
      -webkit-transition: all 0.3s cubic-bezier(0.18, 0.57, 0.5, 1.03);
      border: none;
      cursor: pointer;
      text-transform: uppercase; }
      #contact #contact-form #submit:hover {
        background-color: #78CC18; }

footer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  padding: 1rem 1rem 1rem 1.5rem;
  background-color: #1d1d1d;
  color: #e9e9e9; }
  footer .footer-info {
    width: 30%; }
    footer .footer-info svg {
      width: 2rem;
      margin-bottom: .5rem; }
    footer .footer-info p {
      font-size: 0.35rem;
      font-weight: 300;
      line-height: 1.4;
      letter-spacing: 0.05rem; }
      footer .footer-info p:last-of-type {
        margin-top: .5rem; }
  footer .footer-headquarters {
    width: 25%; }
    footer .footer-headquarters .title {
      font-size: 0.45rem;
      font-weight: 400;
      line-height: 1.4;
      letter-spacing: 0.05rem;
      text-transform: uppercase;
      margin-bottom: .5rem; }
    footer .footer-headquarters p {
      font-size: 0.35rem;
      font-weight: 300;
      line-height: 1.4;
      letter-spacing: 0.05rem; }
      footer .footer-headquarters p:last-of-type {
        margin-top: .5rem; }
    footer .footer-headquarters a {
      color: #fff; }
  footer .footer-contacto {
    width: 15%; }
    footer .footer-contacto .title {
      font-size: 0.45rem;
      font-weight: 400;
      line-height: 1.4;
      letter-spacing: 0.05rem;
      text-transform: uppercase;
      margin-bottom: .5rem; }
    footer .footer-contacto a {
      font-size: 0.35rem;
      font-weight: 300;
      line-height: 1.4;
      letter-spacing: 0.05rem;
      color: #e9e9e9;
      display: block; }
  footer .footer-socials {
    width: 20%; }
    footer .footer-socials .title {
      font-size: 0.45rem;
      font-weight: 400;
      line-height: 1.4;
      letter-spacing: 0.05rem;
      text-transform: uppercase;
      margin-bottom: .5rem; }
    footer .footer-socials #icons {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: flex-start; }
      footer .footer-socials #icons a {
        margin-right: .5rem; }
        footer .footer-socials #icons a:last-of-type {
          margin-right: 0; }
        footer .footer-socials #icons a svg {
          width: 1rem; }

#banner-about {
  background: rgba(5, 14, 41, 0.75);
  width: 100%;
  padding: 5rem 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  overflow: hidden;
  width: 100vw;
  overflow: hidden; }
  #banner-about video {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -5;
    overflow: hidden; }
  #banner-about h2 {
    color: #2C6AFA;
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 1;
    letter-spacing: 0.05rem;
    margin-bottom: .8rem; }
  #banner-about p {
    color: #fff;
    font-size: 0.6rem;
    font-weight: 400;
    line-height: 1.3;
    letter-spacing: 0.05rem; }

#about-text {
  padding: 2.5rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  overflow: hidden; }
  #about-text #about-text-wrp {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    #about-text #about-text-wrp h3 {
      color: #2C6AFA;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.3;
      letter-spacing: 0.05rem;
      margin-bottom: 1.2rem;
      text-align: center; }
    #about-text #about-text-wrp p {
      color: #1d1d1d;
      font-size: 0.6rem;
      font-weight: 300;
      line-height: 1.3;
      letter-spacing: 0.05rem;
      text-align: center; }
      #about-text #about-text-wrp p:first-of-type {
        margin-bottom: .6rem; }
    #about-text #about-text-wrp a {
      background-color: transparent;
      border: 0.05rem solid #2C6AFA;
      color: #2C6AFA;
      font-size: 0.45rem;
      font-weight: 400;
      line-height: 1.3;
      letter-spacing: 0.05rem;
      text-align: center;
      display: inline-block;
      padding: .4rem 1.5rem;
      border-radius: .1rem;
      margin-top: 1.2rem;
      -webkit-transition: all 0.2s cubic-bezier(0.18, 0.57, 0.5, 1.03); }
      #about-text #about-text-wrp a:hover {
        color: #fff;
        background-color: #2C6AFA; }

#services {
  padding: 3rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  overflow: hidden; }
  #services .text-wrp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    margin-bottom: 1.5rem; }
    #services .text-wrp h3 {
      font-size: 1rem;
      font-weight: 400;
      line-height: 1;
      letter-spacing: 0.05rem;
      color: #2C6AFA;
      text-align: center;
      margin-bottom: 1rem; }
    #services .text-wrp p {
      font-size: 0.6rem;
      font-weight: 300;
      line-height: 1.3;
      letter-spacing: 0.05rem;
      color: #1d1d1d;
      text-align: center; }
  #services .services-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 1.5rem;
    padding: 0 2rem;
    row-gap: 2rem; }
    #services .services-grid .service-item {
      padding: .8rem;
      box-shadow: 0rem 0rem 1vh rgba(0, 0, 0, 0.15); }
      #services .services-grid .service-item .title {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        margin-bottom: .6rem; }
        #services .services-grid .service-item .title svg {
          width: 1rem;
          margin-right: .4rem; }
        #services .services-grid .service-item .title p {
          font-size: 0.55rem;
          font-weight: 500;
          line-height: 1.3;
          letter-spacing: 0.05rem;
          color: #1d1d1d; }
      #services .services-grid .service-item .text {
        font-size: 0.5rem;
        font-weight: 300;
        line-height: 1.3;
        letter-spacing: 0.05rem;
        color: #1d1d1d; }

#look-for {
  background-color: #050e29;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  overflow: hidden; }
  #look-for .text-wrp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin-bottom: 2.5rem; }
    #look-for .text-wrp h3 {
      font-size: 0.8rem;
      font-weight: 500;
      line-height: 1;
      letter-spacing: 0.05rem;
      color: #2C6AFA;
      text-align: center;
      margin-bottom: 1rem; }
    #look-for .text-wrp p {
      font-size: 0.6rem;
      font-weight: 300;
      line-height: 1.3;
      letter-spacing: 0.05rem;
      color: #fff;
      text-align: center; }
  #look-for #look-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 2rem;
    row-gap: 2rem;
    padding: 0 2rem; }
    #look-for #look-grid .look-item .title {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: flex-start;
      margin-bottom: .6rem; }
      #look-for #look-grid .look-item .title svg {
        width: 1rem;
        margin-right: .4rem; }
        #look-for #look-grid .look-item .title svg path, #look-for #look-grid .look-item .title svg polyline {
          stroke-width: 15;
          stroke: #78CC18;
          fill: none; }
      #look-for #look-grid .look-item .title p {
        font-size: 0.5rem;
        font-weight: 500;
        line-height: 1.3;
        letter-spacing: 0.05rem;
        color: #fff; }
    #look-for #look-grid .look-item .text {
      font-size: 0.5rem;
      font-weight: 300;
      line-height: 1.3;
      letter-spacing: 0.05rem;
      color: #fff; }

#method {
  padding: 3rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  overflow: hidden; }
  #method .text-wrp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    margin-bottom: 2rem; }
    #method .text-wrp h3 {
      font-size: 1rem;
      font-weight: 400;
      line-height: 1;
      letter-spacing: 0.05rem;
      color: #2C6AFA;
      text-align: center;
      margin-bottom: 1rem; }
    #method .text-wrp p {
      font-size: 0.6rem;
      font-weight: 300;
      line-height: 1.3;
      letter-spacing: 0.05rem;
      color: #1d1d1d;
      text-align: center; }
  #method .method-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 1.5rem;
    row-gap: 1.5rem;
    padding: 0 2rem; }
    #method .method-grid .method-item .title {
      font-size: 0.45rem;
      font-weight: 500;
      line-height: 1.3;
      letter-spacing: 0.05rem;
      color: #050e29;
      margin-bottom: .6rem;
      text-transform: uppercase;
      text-align: center; }
    #method .method-grid .method-item .text {
      font-size: 0.45rem;
      font-weight: 300;
      line-height: 1.3;
      letter-spacing: 0.05rem;
      color: #1d1d1d;
      text-align: center; }

#call-to {
  padding: 3rem 4rem;
  background: rgba(5, 14, 41, 0.8);
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  overflow: hidden; }
  #call-to video {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -5;
    overflow: hidden; }
  #call-to h3 {
    font-size: 0.8rem;
    font-weight: 500;
    line-height: 1.3;
    letter-spacing: 0.05rem;
    color: #fff;
    margin-bottom: 1rem;
    text-align: center;
    width: 100%; }
  #call-to p {
    font-size: 0.5rem;
    font-weight: 300;
    line-height: 1.3;
    letter-spacing: 0.05rem;
    color: #fff;
    text-align: center;
    width: 100%; }
  #call-to a {
    color: #fff;
    background-color: #2C6AFA;
    font-size: 0.45rem;
    font-weight: 400;
    line-height: 1.3;
    letter-spacing: 0.05rem;
    text-align: center;
    display: inline-block;
    padding: .4rem 1.5rem;
    border-radius: .1rem;
    margin-top: 1.2rem;
    -webkit-transition: all 0.2s cubic-bezier(0.18, 0.57, 0.5, 1.03); }
    #call-to a:hover {
      background-color: #050e29; }

@media screen and (max-width: 1024px) {
  html {
    font-size: 6.5vw; }
  header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: .6rem; }
    header nav {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between; }
      header nav #nav-toggle {
        display: flex;
        flex-direction: column;
        align-items: flex-end; }
      header nav ul {
        z-index: -50000;
        position: absolute;
        left: 0;
        top: 100%;
        transform: translateY(-100vh);
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        transition: all .5s ease-out; }
        header nav ul li {
          background-color: #050e29;
          opacity: 0;
          width: 100%;
          display: block;
          list-style: none;
          margin-right: 0;
          position: relative;
          padding: .75rem;
          text-align: center;
          transform: translateY(-2rem);
          -webkit-transition: all .3s ease-out; }
          header nav ul li:last-of-type a {
            border: none; }
            header nav ul li:last-of-type a:hover {
              background-color: transparent;
              color: #78CC18; }
          header nav ul li:hover a {
            color: #fff;
            transform: none; }
          header nav ul li a {
            font-size: 0.5rem;
            font-weight: 400;
            line-height: 1;
            letter-spacing: 0.05rem; }
  #banner {
    padding: 4rem 2rem;
    height: auto; }
    #banner video {
      height: 100%;
      width: 100%; }
    #banner #icons {
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 1rem;
      row-gap: 2rem;
      margin: 2.2rem 0; }
      #banner #icons .icon:hover p {
        color: #fff; }
      #banner #icons .icon:hover svg {
        animation: none; }
    #banner #consultation-btn:hover {
      background-color: #2C6AFA; }
  .article {
    padding: 2rem;
    border-bottom: 0.05rem solid #f0f0f0;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .article#mobile .icon, .article#design .icon {
      order: 1; }
    .article#mobile .text, .article#design .text {
      order: 2; }
    .article .icon {
      width: 100%;
      margin-bottom: 2rem; }
      .article .icon svg {
        height: 4.5rem; }
    .article .text {
      width: 100%; }
      .article .text p {
        font-size: 0.5rem;
        font-weight: 300;
        line-height: 1.3;
        letter-spacing: 0.05rem;
        color: #1d1d1d; }
        .article .text p:first-of-type {
          font-size: 0.6rem;
          font-weight: 500;
          line-height: 1.3;
          letter-spacing: 0.05rem;
          margin-bottom: .8rem; }
  #nosotros {
    padding: 3rem 2rem; }
  #technologies {
    padding: 3rem 1rem; }
    #technologies .title-wrp {
      padding: 0 1rem; }
    #technologies .lenguajes {
      width: 100%; }
      #technologies .lenguajes .card svg {
        height: 1.5rem; }
  #offices {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0;
    padding-top: 2rem; }
    #offices #img-wrp {
      width: 100%;
      order: 2;
      margin-top: 1.5rem;
      padding: 0 .5rem; }
      #offices #img-wrp svg {
        height: 100%;
        width: 100%; }
        #offices #img-wrp svg:hover {
          transform: none; }
    #offices #adresses {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      order: 1;
      padding: 0 3rem; }
      #offices #adresses h3 {
        left: -1rem; }
      #offices #adresses .adress-wrp {
        position: relative; }
        #offices #adresses .adress-wrp #line {
          left: -1rem;
          right: 0; }
        #offices #adresses .adress-wrp #overline {
          left: -1.05rem;
          right: 0; }
      #offices #adresses .adress .adress-title {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        margin-bottom: .6rem;
        cursor: pointer; }
        #offices #adresses .adress .adress-title svg {
          order: 1;
          margin-right: .3rem;
          margin-left: 0; }
        #offices #adresses .adress .adress-title p {
          order: 2; }
      #offices #adresses .adress .adress-hide p {
        text-align: left; }
      #offices #adresses .adress .adress-hide a {
        text-align: left; }
  #clients {
    padding: 2rem 3rem; }
    #clients.grey {
      padding: 2rem 3rem; }
  #contact {
    padding: 2rem 1.3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    #contact #contact-pre p {
      width: 100%; }
    #contact #contact-form {
      width: 100%;
      margin-top: 2rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      #contact #contact-form .grid {
        display: block; }
        #contact #contact-form .grid .form {
          margin-top: 1rem; }
          #contact #contact-form .grid .form:first-of-type {
            margin-top: 0; }
          #contact #contact-form .grid .form.bt {
            margin-bottom: 0; }
          #contact #contact-form .grid .form.number {
            margin-bottom: 1.5rem; }
        #contact #contact-form .grid .form-text textarea {
          height: 40vw; }
        #contact #contact-form .grid .options-wrp {
          margin-top: 1rem; }
          #contact #contact-form .grid .options-wrp .options {
            display: block;
            margin-bottom: .8rem; }
            #contact #contact-form .grid .options-wrp .options .option {
              display: flex;
              flex-direction: row;
              align-items: center;
              justify-content: flex-start;
              margin-bottom: .5rem; }
            #contact #contact-form .grid .options-wrp .options label {
              font-size: 0.5rem;
              font-weight: 400;
              line-height: 1.4;
              letter-spacing: 0.05rem; }
      #contact #contact-form #submit {
        width: 100%; }
  footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1rem;
    row-gap: 1.5rem;
    width: 100%;
    padding: 1rem; }
    footer .footer-info {
      width: 100%; }
      footer .footer-info svg {
        width: 2rem;
        margin-bottom: .5rem; }
      footer .footer-info p {
        font-size: 0.35rem;
        font-weight: 300;
        line-height: 1.4;
        letter-spacing: 0.05rem; }
        footer .footer-info p:last-of-type {
          margin-top: .5rem; }
    footer .footer-headquarters {
      width: 100%; }
      footer .footer-headquarters .title {
        font-size: 0.45rem;
        font-weight: 400;
        line-height: 1.4;
        letter-spacing: 0.05rem;
        text-transform: uppercase;
        margin-bottom: .5rem; }
      footer .footer-headquarters p {
        font-size: 0.35rem;
        font-weight: 300;
        line-height: 1.4;
        letter-spacing: 0.05rem; }
        footer .footer-headquarters p:last-of-type {
          margin-top: .5rem; }
    footer .footer-contacto {
      width: 100%; }
      footer .footer-contacto .title {
        font-size: 0.45rem;
        font-weight: 400;
        line-height: 1.4;
        letter-spacing: 0.05rem;
        text-transform: uppercase;
        margin-bottom: .5rem; }
      footer .footer-contacto a {
        font-size: 0.35rem;
        font-weight: 300;
        line-height: 1.4;
        letter-spacing: 0.05rem;
        color: #e9e9e9;
        display: block; }
    footer .footer-socials {
      width: 100%; }
      footer .footer-socials .title {
        font-size: 0.45rem;
        font-weight: 400;
        line-height: 1.4;
        letter-spacing: 0.05rem;
        text-transform: uppercase;
        margin-bottom: .5rem; }
      footer .footer-socials #icons {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start; }
        footer .footer-socials #icons a {
          margin-right: .5rem; }
          footer .footer-socials #icons a:last-of-type {
            margin-right: 0; }
          footer .footer-socials #icons a svg {
            width: 1rem; }
  #banner-about {
    padding: 7rem 3rem; }
  #about-text {
    padding: 2.5rem 1.5rem; }
    #about-text #about-text-wrp {
      width: 100%; }
      #about-text #about-text-wrp a {
        width: 100%; }
  #services {
    padding: 2.5rem 1.5rem; }
    #services .text-wrp {
      width: 100%; }
    #services .services-grid {
      grid-template-columns: 1fr;
      padding: 0; }
  #look-for {
    padding: 2.5rem 1.5rem; }
    #look-for .text-wrp {
      width: 100%; }
    #look-for #look-grid {
      grid-template-columns: 1fr;
      padding: 0; }
  #method {
    padding: 2.5rem 1.5rem; }
    #method .text-wrp {
      width: 100%; }
    #method .method-grid {
      grid-template-columns: 1fr;
      padding: 0; }
  #call-to {
    padding: 3rem 2rem; } }
